parameters:
  paths:
    - src
  excludePaths:
    analyse:
      - src/Phluxor/Swoole/Coroutine
    analyseAndScan:
      - tests/
      - src/Phluxor/Swoole/Coroutine
      - src/Phluxor/ProtoBuf
      - src/Phluxor/Metadata/ProtoBuf
  level: max
  treatPhpDocTypesAsCertain: false
  scanDirectories:
    - vendor/openswoole/ide-helper