parameters:
    fileExtensions:
        - php
    paths:
        - src
    excludePaths:
        - src/Phluxor/Persistence/Mysql/**
        - src/Phluxor/**/ProtoBuf/**
    level: max
    treatPhpDocTypesAsCertain: false
    scanDirectories:
       - vendor/swoole/ide-helper
