parameters:
  paths:
    - src
  excludePaths:
    analyseAndScan:
      - tests/
      - src/Phluxor/ProtoBuf
      - src/Phluxor/Metadata/ProtoBuf
  level: max
  treatPhpDocTypesAsCertain: false
  scanDirectories:
    - vendor/swoole/ide-helper