<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnIncompleteTests="true"
>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/Test</directory>
        </testsuite>
    </testsuites>
    <logging/>
    <php>
        <includePath>./tests</includePath>
        <ini name="memory_limit" value="512M"/>
    </php>
</phpunit>
